<ion-view view-title="Artists" cache-view="false" class="artists">
  <ion-content>
    <form ng-submit="searchArtists()">
      <label class="item item-input item-select">
        <div class="input-label">
          Sort By
        </div>
        <select id="search" class="search" ng-model="events.search">
          <option>Recommended Music Lovers</option>
          <option>Nearby Music Lovers</option>
          <option>Newly Joined Music Lovers</option>
        </select>
      </label>
     <label class="item">
          <button class="button button-block button-positive" type="submit">Search</button>
        </label>
      </br>
      <div id="artists">
      </div>
  </ion-content>
</ion-view>
