<ion-view view-title="Home" cache-view="false" class="Home">
  <ion-content>
    </br>
    <div id="home">
      <div id="venue-owner">
      </div>
      <div id="post-status">
        <form class="post-status" ng-submit ="postStatus()">
          <label class="item item-input">
            <span class="input-label">Status:</span>
            <input type="text" ng-model="status.text">
          </label>
            <button class="button button-block button-positive" type="submit">Post Status</button>
        </form>
      </div>
      <div id="feeds">
      </div>
    </div>
  </ion-content>
</ion-modal-view>
