<ion-view view-title="Home">
  <ion-content>
    <h1>Home</h1>
    <div id="post-status">
      <form ng-submit ="postStatus()">
        <label class="item item-input">
          <span class="input-label">Text</span>
          <input type="text" ng-model="status.text">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Post Status</button>
        </label>
      </form>
    <!--<div id="post status">
      <ion-item>
        <ion-label stacked>Message</ion-label>
        <ion-textarea [(ngModel)]="msg">Type here to post a new status.</ion-textarea>
      </ion-item>
    </div>-->
    <div id="feed">
      <table id="feeds">
        <tr>
          <th>User</th>
          <th>Post</th>
        </tr>
        <tbody>
        </tbody>
      </table>
    </div>
  </ion-content>
</ion-view>
