<ion-view view-title="Home" cache-view="false">
  <ion-content>
    </br>
    <div id="home">
      <div id="post-status">
        <form class="post-status" ng-submit ="postStatus()">
          <label class="item item-input">
            <span class="input-label">Status:</span>
            <input type="text" ng-model="status.text">
          </label>
            <button class="button button-block button-positive" type="submit">Post Status</button>
        </form>
      </div>
      <div id="feed">
        <table id="feeds">
          <tr>
            <th class="user">Post</th>
            <th class="post">User</th>
          </tr>
          <tbody>
          </tbody>
          </table>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
