<ion-view view-title="My Profile" class="my-profile" cache-view="false">
  <ion-content>
    <h1>My Profile</h1>
    <div id="profile-photo">
    </div>
    <div id="changepictext">
    <p>Please click one of the buttons below to update your profile picture </p>
    </div>
    <div id ="change-profile-pic">
    <button class="button button-energized" id="takeaphoto" ng-click="takePhoto('new')">
    Take a Photo
    </button>
    </br>
    <button class="button button-energized" id="uselibrary" ng-click="takePhoto('old')">
    Use a photo already stored on device
    </button>
    </div>
    <div id="bio">
    <p></p>
    </div>
    <div id="newbiotext">
    <p> Please type in the box below to create a new bio and then click submit new bio. </p>
    <div>
    <div id ="newbio">
    <form ng-submit="newBio()">
      <label class="item item-input">
        <span class="input-label">Bio</span>
        <input type="text" ng-model="bio.text">
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Submit new Bio</button>
      </label>
    </form>
    </div>
  </ion-content>
</ion-view>
