<ion-modal-view class="register">
  <ion-view class="register" cache-view="true">
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="title-and-welcome-message">
      <p class="welcome-message">
        Please enter the details below to register:
      </p>
    </div>
     <form ng-submit="doRegistration()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="register.fName">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="register.lName">
        </label>
	     <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="register.email">
        </label>
         <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="register.password">
        </label>
	      <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="register.cPassword">
        </label>
        <label class="item item-input item-select">
    	    <div class="input-label">
            User Type
          </div>
          <select ng-model="register.userType" multiple>
            <option>Music Lover</option>
            <option selected>Artist</option>
            <option>Venue Owner</option>
          </select>
        </label>  
        <label class="item item-input item-select">
          <div class="input-label">
            Favoruite Genres (select up to 3)
          </div>
          <select id="genre" class="genre" ng-model="register.genre">
          </select>
        </label>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
    <form ng-submit="returnToLogin()">
      <div class="list">
        <label class="item">
          <button class="button button-block button-royal" type="submit">Return To Login</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
