.login {
	height:100%;
    background-color: #3b5998; 
}

.login .title-and-welcome-message {
	height:40%;
}

.login .title-and-welcome-message .title {
	text-align:center;
	color: #FFF;
	font-size: 40px;
	height:50%;
}

.login .title-and-welcome-message .welcome-message {
	font-family: sans-serif;
    text-align:center;
	color: #FFF;
	font-size: 30px;
	line-height:100%;
}

.register {
	height:100%;
	background-color:#3b5998;
}

.register .title-and-welcome-message .welcome-message {
	margin-top:5%;
	font-family: sans-serif;
    text-align:center;
	color: #FFF;
	font-size: 30px;
	line-height:100%;
}

table{
	width:100%;
}

table, th, td  {
    border-collapse: collapse;
    border: 1px solid black;
}

th .user {
	width:30%;
}

th .post {
	width:70%;
}

.home {
	background-color: #3b5998 !important; 
	height:100%;
}

.post-status {
	background-color: white;
	margin-left:2%;
	margin-right:2%;
	padding-bottom: 2%;
}

.post-status .button {
	margin-left:10%;
	width:80%;
	max-width:80%;
}

#feeds {
	margin-top:10%;
	background-color:white;
}

.scroll {
	background-color: #3b5998 !important; 
}

#novenue {
	color: white;
}

#venue {
	background-color: white;
}


.event-title {
	color:white;
}

#event-title{
	color:white;
}

h1:first-child {
	color:white;
}

#events {
	background-color: #3b5998;
}

.test {
	background-color:white;
}

#event-description {
	background-color: white;
}

#event-information{
	background-color: white;
}

#artists-performing {
	background-color: white;
}

.users {
	background-color: white;
}

#image {
	max-height:20%;
	left: 40%;
}

.music-lovers {
	background-color: #3b5998;
}
event
.event {
	background-color: #3b5998;
}

.events {
	background-color: white;
}

h1 {
	text-align:center;
}

.lovers p {
	text-align:center;
}

#lovers-image {
    position:fixed;
    left:36.5%;
}

#lovers-biotitle {
	background-color: white;
	margin-top: 150px;
	position:relative;
}

#lovers-posts {
	position: relative;
}

#lovers-following {
	padding-top: -1%;
	padding-left:2.5%;
	width:95%;
	text-align:center;
}
#lovers-posts h2 {
	color:white;
	text-align:center;
}

