.login {
	height:100%;
    background-color: #3b5998; 
}

.login .title-and-welcome-message {
	height:40%;
}

.login .title-and-welcome-message .title {
	text-align:center;
	color: #FFF;
	font-size: 40px;
	height:50%;
}

.Home {
	background-color: #3b5998;
}

.login .title-and-welcome-message .welcome-message {
	font-family: sans-serif;
    text-align:center;
	color: #FFF;
	font-size: 30px;
	line-height:100%;
}

.register {
	height:100%;
	background-color:#3b5998;
}

.register .title-and-welcome-message .welcome-message {
	margin-top:5%;
	font-family: sans-serif;
    text-align:center;
	color: #FFF;
	font-size: 30px;
	line-height:100%;
}

table{
	width:100%;
}

table, th, td  {
    border-collapse: collapse;
    border: 1px solid black;
}

th .user {
	width:30%;
}

th .post {
	width:70%;
}

.home {
	background-color: #3b5998; 
	height:100%;
}

.post-status {
	background-color: white;
	margin-left:2%;
	margin-right:2%;
	padding-bottom: 2%;
}

.post-status .button {
	margin-left:10%;
	width:80%;
	max-width:80%;
}

#feeds {
	margin-top:10%;
	background-color:white;
}

.scroll {
	background-color: #3b5998 !important; 
}

#novenue {
	color: white;
}

#venue {
	background-color: white;
}


.event-title {
	text-align: center;
	color:white;
}

#event-title{
	color:white;
}

h1:first-child {
	color:white;
}

#events {
	background-color: #3b5998;
}

.test {
	background-color:white;
}

#event-description {
	background-color: white;
}

#event-information{
	background-color: white;
}

#artists-performing {
	background-color: white;
}

.users {
	margin-left:10%;
	background-color: white;
	text-align:center;
	width:80%;
}

#image {
	max-height:20%;
	left: 40%;
}

.music-lovers {
	background-color: #3b5998;
}
.event {
	background-color: #3b5998;
}

.Event {
	background-color: #3b5998;
	text-align:center;
}

.events {
	background-color: white;
}

h1 {
	text-align:center;
}

.lovers p {
	text-align:center;
}

#lovers-image {
    position:fixed;
    left:36.5%;
}

#lovers-bio {
	background-color: white;
	margin-top: 150px;
	position:relative;
}

#lovers-posts {
	position: relative;
}

#lovers-following {
	padding-top: -1%;
	padding-left:1.2%;
	width:98%;
	text-align:center;
}
#lovers-posts h2 {
	color:white;
	text-align:center;
}

.post {
	background-color: white;
	text-align: center;
}

.lovers {
	background-color: #3b5998;
}

.my-profile {
	background-color: #3b5998;
}

#profile-photo {
	position:fixed;
    left:36.5%;
}

.my-profile p {
	text-align:center;
}

#bio {
	margin-top:10px;
	position: relative;
	background-color: white;
}

#changepictext {
	margin-top:150px;
	background-color: white;
}

#change-profile-pic {
	position:relative;
	text-align:center;
	margin-top:10px;
}

#takeaphoto{
	width:90%;
}

#newbiotext {
	background-color: white;
}

#uselibrary{
	margin-top: 10px;
	width:90%;
}

#artists-performing{
	background-color: white;
	text-align:center;
}

#artists-performing-title{
	color:white;
	text-align:center;
}

